<h1>Add Your To Do</h1>
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Add A New Todo</h3></div>
	<div class="panel-body">
		<form id="new-todo-form" ng-submit="todosCtrl.addTodo(todosCtrl.newTodo.name)">
			<div class="form-group">    
		    	<input type="text" name="name" ng-model="todosCtrl.newTodo.name" placeholder="Name" class="form-control">
		    </div>
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Add Todo</button>
			</div>
		</form>
	</div>
</div>